    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        max-width: 800px;
        margin: auto;
        padding: 20px;
        background-color: #f4f4f4;
    }

    h1 {
        color: #2c3e50;
        text-align: center;
    }

    h2 {
        color: #2236e6;
        border-bottom: 3px solid #2236e6;
        padding-bottom: 5px;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin: 10px 0;
 
    }

    .pagina {
        background: rgb(255, 255, 255);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        
    }

    footer {
        text-align: center;
        font-size: 0.9em;
        margin-top: 30px;
        color: #7f8c8d;
    }
    p a {
        color: #0059ff;
       
    }
